# Validect_-_Email_Verification

Verify existence of specified email address using Validect API  

SourceLinkName: [https://rapidapi.com/pmtech/api/validect-email-verification/](https://rapidapi.com/pmtech/api/validect-email-verification/)

## APIDocs

[Validect_-_Email_Verification API Docs](../apis/Validect_-_Email_Verification.md)

## APIPrice

| OpenRouter | APIhub |
|:---|:---|
| input: - output: - | input: - output: - |
