# Validect - Email Verification

指定された電子メールアドレスの存在をValidect APIを使用して確認します

ソースリンク名: [https://rapidapi.com/pmtech/api/validect-email-verification/](https://rapidapi.com/pmtech/api/validect-email-verification/)

## APIドキュメント

[Validect - Email Verification API Docs](../apis/ja/Validect_-_Email_Verification.md)

## API価格

| オープンルーター | APIハブ |
|:---|:---|
| input: - output: - | input: - output: - |
