# Validect - 电子邮件验证

通过Validect API验证指定电子邮件地址的存在

官网: [https://rapidapi.com/pmtech/api/validect-email-verification/](https://rapidapi.com/pmtech/api/validect-email-verification/)

## API文档



## API价格

| OpenRouter | APIhub |
|:---|:---|
| input: - output: - | input: - output: - |
