# Validect - Email Verification

验证指定电子邮件地址的存在性，使用Validect API

官网: [https://rapidapi.com/pmtech/api/validect-email-verification/](https://rapidapi.com/pmtech/api/validect-email-verification/)

## API文档

[Validect - Email Verification API Docs](../apis/zh/Validect_-_Email_Verification.md)

## API价格

| OpenRouter | APIhub |
|:---|:---|
| input: - output: - | input: - output: - |
