# Validect - Email Verification

Vérifier l'existence de l'adresse e-mail spécifiée en utilisant l'API Validect

Nom du lien source: [https://rapidapi.com/pmtech/api/validect-email-verification/](https://rapidapi.com/pmtech/api/validect-email-verification/)

## Docs de l'API

[Validect - Email Verification API Docs](../apis/fr/Validect_-_Email_Verification.md)

## Prix de l'API

| Routeur ouvert | APIhub |
|:---|:---|
| input: - output: - | input: - output: - |
